<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/cdn/css/styles.css" /> -->
    {% if page.stylesheet %}
      <link rel="stylesheet" type="text/css" href="{{ page.stylesheet }}" />
    {% endif %}
</head>

<body>
    {{ content }}
</body>
<script src="/cdn/scripts/main.js"></script>
{% if page.scripts %} {% for script in page.scripts %}
<script src="{{ script }}"></script>
{% endfor %} {% endif %}

</html>
